.navbar {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  /* margin-bottom: -70px; */
  z-index: 5;
}

.navbar__logo {
  position: relative;
  font-weight: 800;
  width: 200px;
  height: 100px;
}

.q {
  position: absolute;
  color: rgb(177, 177, 16);
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  top: 12%;
  left: 5%;
}

.d {
  position: absolute;
  color: rgb(177, 177, 16);
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  top: 35%;
  left: 15%;
}

.qamashi {
  font-size: 25px;
  font-weight: normal;
  color: white;
}

.devs {
  font-size: 25px;
  font-weight: normal;
  color: white;
}

.navbar__list {
  display: flex;
  list-style: none;
}

.navbar__item {
  white-space: nowrap;
}

.navbar__link {
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0px 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: transparent;
}

.navbar__link:hover {
  border-color: white;
  transition: 250ms;
}

.navbar__menu {
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 300px;
    transition: all 0.5s;
  }

  .navbar__list--active {
    left: 0;
  }

  .navbar__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    flex: 1;
  }

  .navbar__link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-width: 0px;
    background-color: black;
    opacity: 0.75;
  }

  .navbar__link:hover {
    opacity: 0.9;
  }

  .navbar__menu {
    display: block;
  }
} ;
